
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Scrolbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--p-button-primary-background);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
